.head {
    display: flex;
    width: 100%;
    justify-content: flex-start;

}

.head.h1 {
    color: #EBEEF5;
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -2%;
    margin: 16px 0;
}